body{
    text-align: center;
    background-color: #ECF2FF;
}
.banner{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.back{
    margin-right: auto;
    margin-left: 2rem;
}
.head{
    margin-right: 9rem;
    flex-grow: 1;
}
.link-back{
    font-family: 'Chivo Mono', monospace;
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    background-color: #3E54AC;
    border: none;
    margin-bottom: 10rem;
    border-radius: 1rem;
    padding: 1rem;
    text-decoration: none;
    max-width: 18vw;
    margin-top: 2rem;
    max-height: 30vh;
    margin-right: 3.5rem;
    margin-left: auto;
    
}
h1{
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    font-family: 'Chivo Mono', monospace;
}
.main-box{
    display: grid;
    margin: auto;
    width: 60vw;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: -4px 3px 19px 2px black;
    padding-top: 1vh;
    padding-bottom: 2vh;
}
.angle{
    font-family: 'Chivo Mono', monospace;
    font-size: 1rem;
    font-weight: 700;

}
.anglefirst{
    width: 40%;
      padding: 0.3125rem 0.75rem;
      background-color: #d3f0f0;
      border: 2px solid transparent;
      border-radius: 5px;
      outline: none;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: monospace;
      color: #00494d;
      text-align: end;
      box-shadow: 5px 5px 10px rgb(218, 218, 218);
      -webkit-appearance: none;
    -moz-appearance: textfield;
}
.angle_2{
    width: 40%;
      padding: 0.3125rem 0.75rem;
      background-color: #d3f0f0;
      border: 2px solid transparent;
      border-radius: 5px;
      outline: none;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: monospace;
      color: #00494d;
      text-align: end;
      cursor: pointer;
      box-shadow: 5px 5px 10px rgb(218, 218, 218);
      overflow: hidden;
      -webkit-appearance: none;
    -moz-appearance: textfield;
}
.angle_3{
    width: 40%;
      padding: 0.3125rem 0.75rem;
      background-color: #d3f0f0;
      border: 2px solid transparent;
      border-radius: 5px;
      outline: none;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: monospace;
      color: #00494d;
      text-align: end;
      cursor: pointer;
      box-shadow: 5px 5px 10px rgb(218, 218, 218);
      -webkit-appearance: none;
    -moz-appearance: textfield;
}
#check{
    font-family: 'Chivo Mono', monospace;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    background-color: #3E54AC;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 18vw;
    margin-top: 1rem;
    max-height: 30vh;
    margin-right: 0.5rem;
    margin-left: auto;
}

.result{
    padding-top: 0.5rem;
    width: 100%; 
    max-width: 659px;
    max-height: 53px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family:'Chivo Mono', monospace ;
    color: #00494d;
    background-color:#d3f0f0;
    box-shadow: 5px 5px 10px rgb(218, 218, 218);
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
}

.anglefirst::-webkit-inner-spin-button,
.anglefirst::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.angle_2::-webkit-inner-spin-button,
.angle_2::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.angle_3::-webkit-inner-spin-button,
.angle_3::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}